<!DOCTYPE html>
<html>
  <body>
    <h1>Welcome to Send It</h1>
    <p>
      You have successfully signed up to Send It, your username is: <%= @user.username %>.<br>
    </p>
    <p>Thanks for joining and have a great time!</p>
  </body>
</html>
