/* On modal show a black background would display, blocking the user home page, this fixes the issue */
.modal-backdrop {
    background-color: rgba(0,0,0,.2) !important;
}

.userpop-img {
  width: 100%;
  height: 100%;
}