/* On modal show a black background would display, blocking the user home page, this fixes the issue */
.modal-backdrop {
    background-color: rgba(0,0,0,.2) !important;
}.modal-90w {
  min-width: 70%;
}

.userpop-img {
  min-width: 435px;
  min-height: 435px;
}
.userpop-container {
  width: 10%;
}
