.display-container {
  width: 600px;
  height: 100%;
  background-color: rgb(255,255,255);
  border-radius: 3px;
  border: 1px solid rgba(219,219,219,1);
  margin-bottom: 50px;
}
.display-user-container {
  width: 100%;
  margin-top: 8px;
  margin-left: 15px;
}
.display-user-self-img-container {
  width: 32px;
  height: 32px;
}
.display-user-self-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.display-username-container {
  margin-left: 15px;
  margin-top: 4px;
}
.display-username-text {
  font-weight: 500;
}
.display-img {
  object-fit: contain;
  max-height: 600px;
  width: 100%;
  background-color: black;
}
.display-icon {
  margin-top: 8px;
  margin-left: 15px;
}
.display-icon-right-space {
  margin-right: 20px;
}
.display-comment-input {
  margin-top: 10px;
}
.display-comment-button {
  color: rgb(28, 105, 254);
  font-weight: bold;
}
.display-comment-button:hover {
  text-decoration: none;
  color: rgb(28, 105, 254);
}

@media ( max-width: 375px ) {
  .display-container {
    width: 100%;
    height: 50%;
  }
  .display-user-container {
    margin-left: 0px;
  }
  .display-img {
    object-fit: contain;
    width: 100%;
    max-height: 300px;
    margin: auto;
    background-color: black;
  }

}