.modal-90w {
  min-width: 70%;
  position: relative;
}
.homephoto-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.home-img-container {
  width: 1500px;
  max-height: 400px;
}
.home-img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  background-color: black;
}
.home-info-container {
  min-width: 45%;
  height: 100%;
  margin-left: 15px;
}
.home-user-img-container {
  /* max-width fixed bio img shrinking on text being too long */
  max-width: 30px;
  height: 30px;
  margin-bottom: 10px;
}
.home-user-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.home-user-text {
  padding: 5px;
  margin-left: 5px;
  width: 85%;
}
.home-link-text {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.home-link-text:hover {
  color:black
}
.home-features-container {
  position: absolute;
  bottom: 0;
}
.home-input-container {
  max-width: 100%;
  margin-left: 5px;
  margin-top: 25px;
}
.home-input {
  width: 300px;
  margin-top: 20px;
}
.home-input-button {
  margin-left: 55px;
}
.homephoto-comment-container {
  max-height: 75px;
  overflow: scroll;
  position: relative;
  background-color: rgb(248,248,248)
}
.home-comment-delete-button {
  position: absolute;
  margin-right: 5px;
  bottom: 1;
  right: 0;
  color: transparent;
}
.home-comment-delete-button:hover {
  color: gray;
}

@media (max-width: 768px) {
  .modal-90w{
    width: 100%;
    margin: 0 auto;
  }
  .homephoto-container {
    flex-direction: column;
  }
  .home-img-container {
    width: 100%;
    height: 100%;
  }
  .home-img {
    max-height: 250px;
  }
  .home-features-container {
    position: static;
  }
  .home-info-container {
    margin-top: 8px;
    margin-left: 0px;
    width: 100%;
  }
  .homephoto-comment-container {
    height: 100%;
    max-height: 100px;
  }
  .home-input-container{
    margin-left: 0px;
    margin-top: 0px;
  }
  .home-input-button{
    margin-left: 20px;
    width: 125px;
  }
}

@media (max-width: 375px) {
  .modal-90w{
    width: 100%;
    margin-left: 0px;
  }
  .homephoto-container {
    flex-direction: column;
  }
  .home-img-container {
    width: 100%;
    height: 100%;
  }
  .home-img {
    max-height: 200px;
  }
  .home-user-img {
    min-height: 30px;
    min-width: 30px;
  }
  .home-features-container {
    position: static;
  }
  .home-info-container {
    margin-top: 8px;
    margin-left: 0px;
    width: 100%;
  }
  .homephoto-comment-container {
    height: 100%;
    max-height: 100px;
  }
  .home-input-container{
    margin-left: 0px;
    margin-top: 0px;
  }
  .home-input-button{
    margin-left: 0px;
    width: 105px;
  }
}